<% content_for :head do %>
<title>MeRepresenta - Bem vindo</title>
<link rel="stylesheet" href="/assets/index.css">
<% end %>
<% content_for :header do %>
    <div class="links">
        <a href="https://www.facebook.com/merepresenta.org.br" class="link facebook" target="_new">Facebook</a>
        <%= link_to "Contato", contact_path, {class: "link contact"} %>
        <%= link_to "Sobre o projeto", about_path, {class: "link about"} %>
    </div>
<% end %>
<% content_for :main do %>
    <div class="container">
        <img src="/assets/01.png" class="logo" alt="Logo">
        <div class="content">
            <h2>Qual é o seu compromisso com os direitos humanos?</h2>
           

            <p>#MeRepresenta está mapeando o compromisso com os direitos humanos de vereadoras e vereadores em todo o Brasil.</p>
            <p>Vereadores e vereadoras estão se cadastrando aqui e declarando suas posições a respeito de temas de igualdade de gênero, raça, orientação sexual, direito à cidade. Em breve, qualquer pessoa poderá consultar nossa base de dados. Aproxime-se você também da população de sua cidade!</p>
            
            <div class="nav">
                <div class="botao">
                    <%= link_to "Sou vereador/a", facebook_auth_path({type: "candidate"}), {class: "btn btn btn-amarelo-roxo voluntario"} %>
                </div>
            </div>
        </div>
    </div>
<% end %>
